.header {
  margin-top: .5rem;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  flex: auto;
}
.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}
.header ul li:hover {
    background-color: #444;
}
.header a {
  text-decoration: none;
}
.header ul li a:hover {
  text-decoration: underline;
}
.header h3 a {
  color: white;
}
.header h3 a:hover {
  color: #00bc8c;
}
.header button {

}